* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

ul {
  margin: 0;
  list-style: none; }

img {
  max-width: 100%;
  color: transparent; }

form select,
input {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  height: 36px;
  width: 100%;
  padding: 0 0 0 12px;
  background-color: #ffffff; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #3b6d9a;
  outline: none;
  transition: 0.3s; }

button {
  display: block;
  background: 0 0;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: 0.3s;
  border-radius: 10px;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  border: none;
  line-height: 44px;
  margin-bottom: 24px;
  font-size: 18px; }

a {
  display: block;
  background: 0 0;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: 0.3s;
  border-radius: 10px;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  border: none;
  line-height: 44px;
  margin-bottom: 24px;
  font-size: 18px; }

.corona-header {
  background-color: #385565; }
  .corona-header__nav {
    display: flex;
    flex-direction: column;
    padding: 40px 16px; }
    .corona-header__nav--link {
      max-width: 150px;
      width: 100%;
      margin: 0 auto 24px auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .corona-header__nav--link img {
        border-radius: 50%; }
  .corona-header__container {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .corona-header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .corona-header__nav-item {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
    max-width: 120px;
    color: #eef2f3;
    transition: 0.3s;
    width: initial; }
    .corona-header__nav-item:hover {
      color: #5f8b9d; }
  .corona-header__register {
    width: 280px;
    background-color: #5f8b9d;
    color: #eef2f3;
    margin: 0 auto;
    border-radius: 40px; }
    .corona-header__register:hover {
      background-color: #4c6f7d; }
  @media screen and (min-width: 768px) {
    .corona-header__nav {
      flex-direction: row;
      justify-content: space-between;
      padding: 40px 24px; }
      .corona-header__nav--link {
        margin: 0; }
    .corona-header__container {
      flex-direction: row;
      align-items: center;
      max-width: 610px;
      width: 100%;
      justify-content: space-between; }
    .corona-header__nav-list {
      flex-direction: row;
      justify-content: space-between;
      max-width: 400px;
      width: 100%; }
    .corona-header__nav-item {
      margin-bottom: 0;
      max-width: initial;
      font-size: 14px;
      line-height: 18px;
      padding: 0 5px; }
    .corona-header__register {
      font-size: 14px;
      max-width: 140px;
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .corona-header__container {
      max-width: 710px; }
    .corona-header__nav-list {
      max-width: 490px; }
    .corona-header__nav-item {
      font-size: 18px; }
    .corona-header__register {
      font-size: 16px;
      max-width: 180px; } }
  @media screen and (min-width: 1366px) {
    .corona-header__container {
      max-width: 910px; }
    .corona-header__nav-list {
      max-width: 665px; }
    .corona-header__nav-item {
      max-width: 180px;
      font-size: 22px;
      line-height: 26px; } }
.corona-banner {
  background: #eef2f3; }
  .corona-banner__container {
    display: flex;
    flex-direction: column;
    max-height: 500px; }
  .corona-banner__content {
    padding: 40px 16px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto; }
  .corona-banner__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #374451;
    margin-bottom: 32px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto 32px auto; }
  .corona-banner__prices-scroll {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    color: #5f8b9d;
    padding: 6px 0;
    font-weight: bold;
    transition: 0.3s;
    border: 1px solid #5f8b9d;
    border-radius: 40px; }
    .corona-banner__prices-scroll:hover {
      background-color: #5f8b9d;
      color: #fff; }
  @media screen and (min-width: 768px) {
    .corona-banner__container {
      max-width: 1366px;
      width: 100%;
      margin: 0 auto;
      flex-direction: row;
      max-height: 500px; }
    .corona-banner__image {
      width: 62%; }
    .corona-banner__content {
      max-width: initial;
      width: 38%;
      display: flex;
      flex-direction: column;
      justify-content: center; } }
.corona-prices {
  background-color: #ffffff;
  padding: 40px 0; }
  .corona-prices__title {
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    color: #374451;
    font-weight: bold;
    margin-bottom: 24px; }
  .corona-prices__list {
    display: flex;
    flex-direction: column; }
  .corona-prices__item {
    background-color: #ffffff;
    max-width: 350px;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
    transition: 0.3s; }
    .corona-prices__item:hover {
      box-shadow: 0 15px 36px rgba(0, 0, 0, 0.1); }
    .corona-prices__item:not(:last-child) {
      margin-bottom: 24px; }
    .corona-prices__item-title {
      text-align: center;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px;
      color: #ffffff;
      font-weight: bold;
      width: 100%;
      padding: 24px 20px 24px 20px;
      background-color: #374451;
      border-radius: 10px 10px 0 0; }
    .corona-prices__item-price {
      text-align: center;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 18px; }
      .corona-prices__item-price--amount {
        font-size: 26px;
        line-height: 34px;
        font-weight: bold;
        color: #f46334; }
      .corona-prices__item-price--other {
        font-style: italic;
        color: #374451; }
    .corona-prices__item-advantages {
      padding: 0 24px;
      margin: 0 auto 24px auto;
      text-align: center;
      color: #374451;
      font-weight: bold; }
  .corona-prices__advantages-item {
    position: relative;
    color: #374451; }
    .corona-prices__advantages-item:not(:last-child) {
      margin-bottom: 12px; }
  .corona-prices__button {
    max-width: 214px;
    width: 100%;
    margin: 0 auto 40px auto;
    background-color: #5f8b9d;
    color: #fff;
    padding: 2px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 40px; }
    .corona-prices__button:hover {
      background-color: #4c6f7d; }
  @media screen and (min-width: 768px) {
    .corona-prices {
      padding: 60px 0; }
      .corona-prices__title {
        font-size: 32px;
        line-height: 40px; }
      .corona-prices__list {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 50px; }
      .corona-prices__item {
        max-width: 350px;
        width: 45%;
        margin: 0 auto 24px auto; }
        .corona-prices__item:not(:last-child) {
          margin: 0 auto 24px auto; }
        .corona-prices__item-title {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 24px; }
        .corona-prices__item-price {
          font-size: 14px;
          line-height: 24px; }
        .corona-prices__item-advantages {
          margin-bottom: 20px;
          height: 180px; } }
  @media screen and (min-width: 1024px) {
    .corona-prices__list {
      max-width: 1900px; }
    .corona-prices__item {
      max-width: 350px;
      width: 22%;
      margin: 0 8px 0 8px; }
      .corona-prices__item-title {
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center; }
      .corona-prices__item-advantages {
        padding: 0 10px; }
      .corona-prices__item:not(:last-child) {
        margin: 0 12px 0 12px; }
    .corona-prices__advantages-item {
      font-size: 14px;
      line-height: 18px; } }
  @media screen and (min-width: 1366px) {
    .corona-prices__item-advantages {
      height: 240px; }
    .corona-prices__advantages-item {
      font-size: 18px;
      line-height: 24px; } }
  @media screen and (min-width: 1466px) {
    .corona-prices__item-title {
      height: initial; }
    .corona-prices__item-advantages {
      padding: 0 20px; } }
.corona-find {
  background-color: #eef2f3;
  padding: 40px 24px; }
  .corona-find__container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .corona-find__content {
    max-width: 350px;
    width: 100%;
    margin: 0 auto 40px auto; }
  .corona-find__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 14px;
    color: #374451; }
  .corona-find__address {
    margin-bottom: 24px; }
  .corona-find__address-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #374451;
    margin-bottom: 10px; }
  .corona-find__address-text {
    font-size: 14px;
    line-height: 18px;
    color: #374451; }
  .corona-find__working-time {
    font-size: 14px;
    line-height: 18px;
    color: #374451;
    margin-bottom: 24px; }
  .corona-find__button {
    max-width: 288px;
    width: 100%;
    margin: 0 auto;
    background-color: #374451;
    color: #fff;
    padding: 2px 0;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 40px; }
    .corona-find__button:disabled {
      background-color: #222b33;
      color: #e6e6e6; }
    .corona-find__button:hover {
      background-color: #222b33; }
  .corona-find__map {
    position: relative;
    padding-bottom: 50%; }
  .corona-find iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; }
  @media screen and (min-width: 768px) {
    .corona-find {
      padding: 60px 24px; }
      .corona-find__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 900px; }
      .corona-find__content {
        max-width: 450px;
        margin: 0 24px 0 0; }
      .corona-find__title {
        font-size: 26px;
        line-height: 30px;
        max-width: 200px; }
      .corona-find__address-title {
        font-size: 22px;
        line-height: 26px; }
      .corona-find__address-text {
        font-size: 16px;
        line-height: 20px; }
      .corona-find__working-time {
        font-size: 16px;
        line-height: 20px; }
      .corona-find__button {
        margin: 0; }
      .corona-find__map {
        max-width: 400px;
        width: 100%;
        padding-bottom: 40%; } }
  @media screen and (min-width: 1024px) {
    .corona-find__container {
      max-width: 1000px; }
    .corona-find__content {
      max-width: 550px; }
    .corona-find__title {
      max-width: 400px;
      font-size: 44px;
      line-height: 51px;
      margin-bottom: 20px; }
    .corona-find__address-title {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 16px; }
    .corona-find__address-text {
      font-size: 20px;
      line-height: 27px; }
    .corona-find__working-time {
      font-size: 20px;
      line-height: 27px; }
    .corona-find__map {
      padding-bottom: 38%;
      max-width: 500px; } }
.corona-arguments {
  background-color: #ffffff;
  padding: 40px 0; }
  .corona-arguments__main-title {
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    color: #374451;
    font-weight: bold;
    margin-bottom: 24px; }
  .corona-arguments__container {
    display: flex;
    flex-direction: column; }
  .corona-arguments__argument-container {
    position: relative;
    padding: 40px 0; }
    .corona-arguments__argument-container:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #5f8b9d;
      bottom: 0; }
  .corona-arguments__argument-container.last:before {
    width: 0; }
  .corona-arguments__argument {
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.3s; }
    .corona-arguments__argument:not(:last-child) {
      margin-bottom: 24px; }
  .corona-arguments__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px; }
  .corona-arguments__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 12px;
    color: #374451;
    font-weight: bold; }
  .corona-arguments__image {
    margin: 0 auto 14px auto;
    border-radius: 50%; }
  .corona-arguments__list {
    max-width: 240px;
    width: 100%;
    margin: 0 auto; }
  .corona-arguments__item {
    color: #374451;
    font-size: 14px;
    line-height: 18px; }
    .corona-arguments__item:not(:last-child) {
      margin-bottom: 12px; }
    .corona-arguments__item:nth-child(3) {
      margin-bottom: 34px; }
  .corona-arguments__button {
    max-width: 215px;
    width: 100%;
    margin: 0 auto;
    color: #f46334;
    padding: 2px 0;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid #f46334;
    border-radius: 40px; }
    .corona-arguments__button:hover {
      background-color: #f46334;
      color: #ffffff; }
  @media screen and (min-width: 768px) {
    .corona-arguments {
      padding: 60px 0; }
      .corona-arguments__main-title {
        font-size: 32px;
        line-height: 40px; }
      .corona-arguments__container {
        flex-wrap: wrap;
        max-width: 1366px;
        width: 100%;
        margin: 0 auto; }
      .corona-arguments__argument-container {
        padding: 50px 0;
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between; }
      .corona-arguments__argument {
        max-width: initial;
        flex-direction: row; }
      .corona-arguments__content {
        margin-right: 24px; }
      .corona-arguments__title {
        font-size: 24px;
        line-height: 28px; }
      .corona-arguments__list {
        max-width: 400px; }
      .corona-arguments__item {
        font-size: 16px;
        line-height: 30px; }
      .corona-arguments__button {
        font-size: 18px;
        max-width: 225px;
        margin: 0 0 40px 0; } }
  @media screen and (min-width: 1024px) {
    .corona-arguments {
      padding: 70px 0; }
      .corona-arguments__title {
        font-size: 36px;
        line-height: 42px; }
      .corona-arguments__argument-container {
        max-width: 1024px;
        align-items: center; }
      .corona-arguments__content {
        margin-right: 24px;
        margin-bottom: 0; }
      .corona-arguments__image {
        margin-bottom: 0; }
      .corona-arguments__title {
        font-size: 26px;
        line-height: 32px; }
      .corona-arguments__list {
        max-width: 600px; }
      .corona-arguments__item {
        font-size: 18px;
        line-height: 21px; }
      .corona-arguments__button {
        max-width: 320px;
        margin: 0; } }
.corona-form {
  background-color: #eef2f3;
  padding: 40px 24px; }
  .corona-form__title {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: #374451;
    font-weight: bold;
    margin-bottom: 24px; }
  .corona-form hr {
    max-width: 350px;
    margin: 0 auto 20px auto;
    background-color: #5f8b9d; }
  .corona-form__subtitle {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #374451;
    max-width: 500px;
    margin: 0 auto 24px auto; }
  .corona-form__container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto; }
  .corona-form__form input {
    background-color: transparent;
    border: 1px solid #374451;
    border-radius: 40px;
    outline: none; }
  .corona-form__line {
    display: flex;
    flex-direction: column; }
    .corona-form__line input {
      margin-bottom: 12px; }
  .corona-form__text {
    max-width: 100%;
    width: 100%;
    color: #374451;
    margin-bottom: 24px;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    padding: 5px 0 0 5px; }
  .corona-form__checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    transition: 0.3s; }
  .corona-form .styled-checkbox {
    position: absolute;
    opacity: 0; }
    .corona-form .styled-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      font-size: 12px; }
    .corona-form .styled-checkbox + label:before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      left: 0;
      background: white;
      transition: 0.3s; }
    .corona-form .styled-checkbox:hover + label:before {
      background-color: #222b33; }
    .corona-form .styled-checkbox:checked + label:before {
      background-color: #374451; }
    .corona-form .styled-checkbox:disabled + label {
      color: #b8b8b8;
      cursor: auto; }
    .corona-form .styled-checkbox:disabled + label:before {
      box-shadow: none;
      background: #ddd; }
    .corona-form .styled-checkbox:checked + label:after {
      content: "";
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
      transform: rotate(45deg); }
  .corona-form__button {
    width: 100%;
    margin: 0 0 40px 0;
    background-color: #374451;
    color: #fff;
    padding: 2px 0;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 40px; }
    .corona-form__button:disabled {
      background-color: #222b33;
      color: #e6e6e6; }
    .corona-form__button:hover {
      background-color: #222b33; }
  @media screen and (min-width: 500px) {
    .corona-form__container {
      max-width: 800px;
      min-width: 450px;
      width: 60%;
      margin: 0 auto; }
    .corona-form__line {
      flex-direction: row;
      justify-content: space-between; }
      .corona-form__line input:first-child {
        margin-right: 24px; }
      .corona-form__line:not(:last-child) {
        margin-bottom: 24px; } }
  @media screen and (min-width: 768px) {
    .corona-form {
      padding: 60px 24px; } }
  @media screen and (min-width: 1024px) {
    .corona-form__line {
      max-width: 460px;
      width: 100%;
      margin: 0 auto; }
    .corona-form__text-container {
      max-width: 460px;
      width: 100%;
      margin: 0 auto; }
    .corona-form__checkbox-container {
      max-width: 460px;
      width: 100%;
      margin: 0 auto 24px auto; }
    .corona-form .styled-checkbox + label:before {
      width: 20px;
      height: 20px; }
    .corona-form__button {
      max-width: 310px;
      margin: 0 auto; } }
.corona-footer {
  background-color: #374451;
  padding: 40px 16px; }
  .corona-footer__container {
    display: flex;
    flex-direction: column; }
  .corona-footer__left-side {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 auto 36px auto;
    max-width: 350px;
    width: 100%; }
  .corona-footer__logo {
    margin-right: 24px; }
  .corona-footer__left-list {
    display: flex;
    flex-direction: column;
    margin-right: 12px; }
  .corona-footer__left-item a {
    line-height: 22px;
    margin-bottom: 0;
    color: #eef2f3;
    transition: 0.3s; }
    .corona-footer__left-item a:hover {
      color: #5f8b9d; }
  .corona-footer__left-item:not(:last-child) {
    margin-bottom: 20px; }
  .corona-footer__right-side {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 350px;
    width: 100%; }
  .corona-footer__right-item {
    color: #eef2f3; }
    .corona-footer__right-item:not(:last-child) {
      margin-bottom: 20px; }
  .corona-footer__item-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
    margin-bottom: 12px;
    position: relative; }
    .corona-footer__item-title:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      left: 0; }
    .corona-footer__item-title.phone:before {
      background: url("https://i.citrus.ua/uploads/promo/dnepr/corona/phone-icon.svg") center/100% no-repeat; }
    .corona-footer__item-title.mail:before {
      background: url("https://i.citrus.ua/uploads/promo/dnepr/corona/mail-icon.svg") center/100% no-repeat; }
    .corona-footer__item-title.address:before {
      background: url("https://i.citrus.ua/uploads/promo/dnepr/corona/address-icon.svg") center/100% no-repeat; }
  .corona-footer__item-text {
    font-size: 14px;
    line-height: 18px; }
  @media screen and (min-width: 768px) {
    .corona-footer {
      padding: 40px 24px; }
      .corona-footer__container {
        flex-direction: row;
        justify-content: space-around; }
      .corona-footer__left-side {
        width: 35%; }
      .corona-footer__right-side {
        width: 65%; }
      .corona-footer__right-list {
        max-width: 300px;
        width: 100%;
        margin: 0 0 0 auto; } }
  @media screen and (min-width: 1024px) {
    .corona-footer__container {
      align-items: center;
      max-width: 1100px;
      width: 100%;
      margin: 0 auto; }
    .corona-footer__left-side {
      width: 30%;
      margin: 0; }
    .corona-footer__right-side {
      width: 60%;
      margin: 0 0 0 auto;
      max-width: initial;
      justify-content: center; }
    .corona-footer__right-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: initial; } }

/*# sourceMappingURL=style.css.map */
